- provide :title, "Home"

%h1.brand eventloop

.home
  - if logged_in?
    .greeting Hello #{current_user.name}!
    .counter You have #{link_to "#{pluralize(@upcoming_count, 'upcoming event')}!", current_user}
    .button.browse= link_to "Find more events", events_path
  - else
    .button.login= link_to "Log in", login_path
    .button.signup= link_to "Sign up", new_user_path
    .button.browse= link_to "Browse", events_path
