- if logged_in?
  = content_tag :div, "You are #{current_user.email}"
- flash.each do |type, message|
  = content_tag :div, message, class: "flash-#{type}"
= form_for :user do |f|
  = f.text_field :email
  = f.submit "Log in"
