- provide :title, "Log in"

.center (Try brxck@test.com)
%br

= form_for :user do |f|
  = f.label :email
  = f.text_field :email
  %br
  = f.submit "Log in"
  %br
.center= link_to "Create Account", new_user_path