.events= "#{name.capitalize} Events:"
- if events.any?
  - events.each do |event|
    .name= link_to(event.name, event)
    .date= format_date(event.datetime)
    .location= event.location
    .description= event.description.truncate(32).gsub(/\n/, " ")
    - if !current_page?(controller: 'users')
      %div
        Hosted by #{link_to("#{event.creator.name}", event.creator)}
    = render 'shared/event_actions'
    %br
- else
  .none= "No #{name} events."
  %br
