.events= "#{name.capitalize} Events:"
- if events.any?
  - events.each do |event|
    .name= link_to(event.name, event)
    .date= format_date(event.datetime)
    .location= event.location
    .description= event.description.truncate(32).gsub(/\n/, " ")
    - if !current_page?(controller: 'users')
      %div
        Hosted by #{link_to("#{event.creator.name}", event.creator)}
    - if going?(event)
      .status You're going to this event.
      .action= link_to "I'm not going.", unattend_event_path(event.id)
    - else
      .status You're not going to this event yet.
      .action= link_to "I'm going", attend_event_path(event.id)
    %br
- else
  .none= "No #{name} events."
  %br
