- provide :title, "New Event"

= form_for @event do |f|
  = f.label :name
  = f.text_field :name
  = f.label :location
  = f.text_field :location
  = f.label :date
  .select
    = f.datetime_select :datetime, order: [:day, :month, :year, :hour, :minute], ampm: true, start_year: Date.current.year, end_year: Date.current.year + 10, minute_step: 10
  = f.label :description
  = f.text_area :description
  %br
  = f.submit
