<h1>New Event</h1>
<%= form_for @event do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :location %><br>
  <%= f.text_field :location %><br>

  <%= f.label :datetime %><br>
  <%= f.datetime_select :datetime %><br>

  <%= f.submit %>
<% end %>