%h1= @event.name
.imgoing= link_to "I'm going", add_event_path
.date= format_date(@event.datetime)
.location= @event.location
.description= @event.description
.host Hosted by #{link_to(@event.creator.name, @event.creator)}
.going People going:
- @event.attendees.each do |attendee|
  .attendee= link_to(attendee.name, attendee)
