- provide :title, @event.name

- if going?(@event)
  .status You're going to this event.
  .action= link_to "I'm not going.", unattend_event_path
- else
  .status You're not going to this event yet.
  .action= link_to "I'm going", attend_event_path
.date= format_date(@event.datetime)
.location= @event.location
.description= @event.description
.host Hosted by #{link_to(@event.creator.name, @event.creator)}
.going People going:
- @event.attendees.each do |attendee|
  .attendee= link_to(attendee.name, attendee)
